# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

API_NAME="medical-supplies-cu"

DATABASE_URL="mysql://root:passwrod@localhost:3306/smart_cabinet_cu_test"

DATABASE_USER="root"
DATABASE_PASSWORD="passwrod"
DATABASE_NAME="smart_cabinet_cu_test"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_CONNECTION_LIMIT=20  

NODE_ENV=development
PORT=7103
# Node อ่าน TZ (ไม่ใช่ TIMEZ)
TZ=Asia/Bangkok
TIMEZ=Asia/Bangkok

JWT_SECRET=your-super-secret-jwt-key-here-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-jwt-key-here-change-this-in-production
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d


PRINT_STICKER_HOST=172.20.220.139
PRINT_STICKER_PORT=9100